td {
   border: 2px solid black;
   font-family: arial;
   font-size: 30px;
   width: 100px;
   height: 100px;
   text-align: center;
}

p {
	font-family: arial;
	font-size: 40px;
}

button {
	border: 2px solid black;
	background-color: white;
}